<h1 >{{tieu_de_lien_he}}</h1>
<div>
    <div class="flex" >
        <iframe style="width:1000px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45503.545097184775!2d105.72655617494415!3d21.038595435349933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1679748609759!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div style="width:500px" class="">
            <ul>
                <li>số điện thoại:0969684021</li>
                <li>gmail:phtien490@gmail.com </li>
                <li>điạ chỉ: trịnh văn bô,đường xuân phương</li>
            </ul>
        </div>
    </div>
</div>