<div>
    <div class="banner">
        <img width="100%" src="https://daotaopti.vn/themes/pti.edu.vn/images/banner-bg.png" alt="">
    </div>
    <h3 class="h3_thong_tin">
        {{thong_tin}}
    </h3>
    <div class="block1">
        <div style="width:300px" class="img">
            <img style="width:100%" src="https://daotaopti.vn/uploads/thumbs/tn_298x327_daa68191235015dc951bd86f8793b8d7_thay_thinh-Custom-1.jpg" alt="">
            <p class="text" >Hoàng văn Hạnh</p>
            <p class="text1"> giảng viên -chuyên gia dạy lập trình</p>
        </div>
        <div class="text2">
            <p>Chuyên gia chiến lược & xây dựng tổ chức.

                Ông mang trong mình những hoài bão, tâm nguyện về một sự thay đổi mang tính chất cơ bản và nền tảng. Tư tưởng xuyên suốt của ông: Truyền bá, reo rắc, thức tỉnh - Đây cũng chính là triết lý đào tạo  của Tổ chức Giáo dục Đào tạo PTI.
                
                Hiện nay ông là giảng viên của Học Viện Hành Chính Quốc Gia.
                
                Ông cũng là tác giả của những cuốn sách được giới doanh nhân quan tâm như:</p>
                <ol>
                    <li>“Nghề Giám Đốc”, Nxb Chính trị Quốc Gia, 2002.</li>
                    <li>“Bàn về văn hóa ứng xử của người Việt Nam”, Nxb Phụ Nữ, năm 2006.</li>
                    <li>“Hành trình nhân sinh quan – Phản tỉnh trên đường trải nghiệm”, Nxb Thông tinh – Truyền thông, năm 2011.</li>
                    </ol>
        </div>
    </div>
</div>